@{
    ViewData["Title"] = "MeetDesk - Meet Persons online, Chat, MakeConference";
}

@model List<Slider>
@using System.Text.Json

<div class="sliderCont" data-slider='@Html.Raw(JsonSerializer.Serialize(Model))'></div>




<section class="slider">
    

</section>







