@{
    ViewData["Title"] = "MeetDesk - Meet Persons online, Chat, MakeConference";
}

<section class="slider"></section>

<section class="discover"></section>

<section class="solutions">
    
</section>









