@{
    ViewData["Title"] = "MeetDesk - Meet Persons online, Chat, MakeConference";
}

<section class="hero-section">
    <div class="hero-content">
        <h1>
            Make friends with<br>
            of use with
            <span style="
                font-family: 'Segoe UI', sans-serif;
                font-weight: 700;
                font-size: 42px;
                color: #1a1a1a;
                ">
                <span style="color: #0078d4;">Meet</span>Desk
            </span>

        </h1>

        <p>Start meetings, share moments and work together easily!.</p>
        <a href="#" class="download-btn">Download now</a>
    </div>
    <div class="hero-image">
        <img src="/images/teams-hero.png" alt="Meet Desk Image">
    </div>
</section>

